#!/bin/ksh
#######################################
# splitEDI 笆だ瑈紅
# 把计1 > ゅン
# 把计2 > 璶籹碭唉だ瑈Script
#######################################

. $NGSC_AP_DIR/def/PNGSC.env

#眔嘿
SCRIPT_NAME=$0

#眔ゅン
MSG_TYPE=$1

#眔璶籹だ瑈计秖
MAKE_NUMBER=$2

#log竚 (Log path)
LOG_FILE=${MDC_LOG_DIR}/${SCRIPT_NAME}.log

#籹家狾
SPLITEDI_BASE=splitEDI_Base.sct

usage()
{
	echo "$SCRIPT_NAME <MSG_TYPE> <MAKE_NUMBER>"
	echo "Example > $SCRIPT_NAME N5116 2"
	exit
}

if [[ $# -lt 2 ]]; then
	usage
fi


### Write Log Method ###
msgToLog() {
  time_mark=$(date +%D_%T)
  echo "$time_mark  $MSG"
}


#KB
LOG_MAX_SIZE=1024
LOG_BACKUP_INDEX=3
### Log Rolling ###
LogRollingByIndex() {
  touch ${LOG_FILE}
  #Get size in KB
  file_size=$(du -k ${LOG_FILE} | tr -s '\t' ' ' | cut -d' ' -f1)

  # Check whether logfile size is greater than ${LOG_MAX_SIZE}
  if [ ${file_size} -gt ${LOG_MAX_SIZE} ]; then
    # Rolling Log File
    i=$((${LOG_BACKUP_INDEX} - 1))
    while [ ${i} -gt 0 ]; do
      if [ -f ${LOG_FILE}.${i} ]; then
        mv ${LOG_FILE}.${i} ${LOG_FILE}.$((${i} + 1))
        echo "mv ${LOG_FILE}.${i} ${LOG_FILE}.$((${i} + 1))" >>${LOG_FILE}
      fi
      i=$((${i} - 1))
    done

    echo "mv ${LOG_FILE} ${LOG_FILE}.1" >>${LOG_FILE}
    mv ${LOG_FILE} ${LOG_FILE}.1
    touch ${LOG_FILE}
  fi
}


checkScriptIsExist(){
  CHECK_NAME=$1
  if [  -f ${CHECK_NAME} ]; then
    echo "$CHECK_NAME is already exists , please check!!!"
    msgToLog
    exit
  fi
}

createNewScript(){
  CREAT_SPLITEDI=$1
  cp ${SPLITEDI_BASE} $CREAT_SPLITEDI
}


LogRollingByIndex
i=1
while (($i <= $MAKE_NUMBER)); do

  SPLITEDI_NEW_NAME=${splitEDI_MSG_TYPE_$i.sct}
  echo "SPLITEDI_NEW_NAME = $SPLITEDI_NEW_NAME"


  checkScriptIsExist $SPLITEDI_NEW_NAME

  createNewScript $SPLITEDI_NEW_NAME

  let i=i+1

done