#! /bin/ksh
# start_Lena_Server.sct
# Lena server Start script
# author:6619
##################################

argument_error()
{
  echo "start_Rest_Gen_Xls.sct"
  exit 255
}


check_process()
{
        chkPG=$1
        ifLOG=$2
        chkResult=0
        ps -fu ${LOGNAME}|grep $chkPG|grep -v "grep "|grep -v "kill"|grep -v "vi "|grep -v "vim "|grep -v "awk "|awk '{print $2}'|
        while read line
        do
                echo $line
                pinfo=$line
                if [ $ifLOG -eq 1 ]
                then
                        echo "$line"
                fi
                chkResult=1
        done
}


#################
#main
#################
#version=0.0.1
#jarname=ngsc.mq.rest-${version}.jar
jarname=restGenXls.jar
processname=restGenXls

#set java location
JRE=/usr/java8_64/jre/bin/java

MEM_ARG="-Xms256m -Xmx512m"

check_process ${processname} 0
if [ $chkResult -eq 1 ]; then
    echo [INFO] "${processname} is alive."
    echo [INFO] "PID: ${pinfo}"
    exit 0
fi

#exec 
echo "[INFO] PREPARE START ${processname}" 

#CP=.:/APNVAN/def:/APNVAN/LIB/${jarname}
#echo $CP

#nohup $JRE -D${processname} -classpath $CP -jar /APNVAN/LIB/${jarname} &
#nohup $JRE -D${processname} -cp $CP com.tradevan.lena.LenaApplication
nohup $JRE $MEM_ARG -D${processname} -Djava.security.egd=file:/dev/./urandom -Dloader.path=/APNVAN/def,/APNVAN/JAVA/conf/ReportRest -DUserProperties=narccas-rs-cli-env.properties -jar /APNVAN/LIB/ReportRest/${jarname} >> /PNVAN/log/report_rest_genxls.log 2>&1 &

echo "[INFO] Waiting 1 sec to check status"
sleep 1

check_process ${processname} 0
if [ $chkResult -eq 1 ]; then
    echo "[INFO] ${processname} is Running.."
    echo "[INFO] PID: ${pinfo}"
    exit 0
fi

