################################
#  updown.sct 
#  起訖服務
################################

. ~/.profile;


################################
#  停服務
################################
kill_process()
{
        ps -fu ${LOGNAME}|grep $v1|grep -v grep|grep -v "vi "|grep -v awk|awk '{print $2}'|
        while read line
        do
                echo "$line" >> $LogFile
                kill -15 $line
        done
}

################################
#  停服務
################################


v1=restGenXls
kill_process


sleep 10

################################
# 起服務
################################

/APNVAN/SCT/ReportRest/start_Rest_Gen_Xls.sct



